

* {
	margin: 0px; 
	padding: 0px; 
	box-sizing: border-box;
}

body, html {
	height: 100%;
	font-family: Lato;
}

/* HEADER  */
.apple-logo {
    width: 40px; /* Điều chỉnh kích thước chiều rộng */
    height: auto; /* Đảm bảo tỷ lệ khung hình được bảo tồn */
}


/* Carousel */
.product-container {
    width: 100%;
    height: auto;
    max-width: 3008px;
  }
  
  .product-image img {
    width: 100%;
    height: 670px;
    object-fit: cover;
  }

  .product-wrapper {
    position: relative;
  }
  
  .product-overlay {
    position: absolute;
    top: 100px;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    z-index: 1;
  }
  
  
  .product-overlay h2.product-title {
    font-weight: bold;
    font-size: 50px;
  }
  
  .product-overlay h3.product-content {
    font-weight:  Medium ;
     
  }
  .product-buttons a:hover {
    text-decoration: underline;
  } 
  .product-buttons .btn {
    font-size: 21px;
    line-height: 1.381;
    font-weight: 400;
    letter-spacing: 0.011em;
    color:#06c;
  } 

  .product-buttons .btn:hover {
    color: #06c;
  }
  

/* Introduce */
.grid-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
  }
  
  .grid-item {
    position: relative;
  } 
   
  .product-background {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 580px;
  }
  
  .product-overlay {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    text-align: center;
  }
  .grid-item:nth-child(2) .product-overlay {
    top: 80%;
  }
  

 /* slide   */
 .carousel-caption {
    text-align: left !important;
  }

 .carousel-caption button {
    background-color: white;
    color: black;
    border-radius: 980px;
    text-align: center;
    font-size: 17px;
    line-height: 1.17648;
    font-weight: 400;
    border-color: rgb(245 245 247);
    padding-left: 21px;
    padding-right: 21px;
    padding-top: 11px;
    padding-bottom: 11px;
  }

  .carousel-caption button:hover {
    background-color: rgb(227, 227, 237);
    color: black
  }

  .carousel-caption a{
    font-size: 20px;
    line-height: 1.1;
    font-weight: 400;
    margin-left: 40px;
    font-weight: 400;
    color: #fff;
    text-shadow: 0px 0px 5px rgba(0,0,0,0.6);
  }

  .carousel-item {
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 1000px; 
  }
  .carousel-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    position: relative;
  }
  .carousel-inner {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  .carousel-inner {
    max-width: 1200px;  
    width: 100%;
  }
  .carousel-indicators li {
    width: 10px !important; 
    height: 10px !important;
    background-color: gray !important; 
    border-radius: 50%; 
    margin: 5px;
  }
  
  .carousel-indicators li.active {
    background-color: black !important;
  }
  .carousel-indicators {
    bottom: initial !important;
}

  /* footer  */
  .content-footer{
    color: grey;
    font-size: 12px;
    line-height: 1.33337;
    font-weight: 400;
    letter-spacing: -.01em;
  } 
  .content-footer a{
    color: grey;
    text-decoration: underline;
  }
  .content-footer a:hover{
    color: grey;
  }
  
  .divider {
    height: 1px;
    background-color:grey;
   
  }

  .link-footer {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 20px;
}


.link-footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
}



.link-footer a {
  color: gray; 
  text-decoration: none;
}
.link-footer a:hover{
  color: gray;
}
footer h6{
  color: grey;
}

.footer-info p {
  margin: 0;
  color: gray;
}

.footer-info ul {
  list-style: none;
  padding: 0;
  margin: 10px 0 0;
  display: flex;
  justify-content: center;
}

.footer-info li:not(:last-child) {
  margin-right: 10px;
}

.footer-info a {
  color: gray;
  text-decoration: none;
}
.footer-info a:hover{
  color: gray;
}

.footer-info li::after {
  content: "|";
  margin-left: 10px;
  color: gray;
}

.footer-info li:last-child::after {
  content: none;
}
  
  

  
    
  
  